@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* SANS FONT */
@font-face {
    /* Also: "extralight" */
    font-family: "Roboto";
    font-weight: 100;
    src: url("/src/assets/fonts/Roboto-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("/src/assets/fonts/Roboto-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/src/assets/fonts/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/src/assets/fonts/Roboto-Bold.ttf") format("truetype");
  }
  @font-face {
    /* Also: "extrabold" */
    font-family: "Roboto";
    font-weight: 900;
    src: url("/src/assets/fonts/Roboto-Black.ttf") format("truetype");
  }
  /* SERIF FONT */
  @font-face {
    font-family: "Lora";
    font-weight: 700;
    src: url("/src/assets/fonts/Lora-Bold.ttf") format("truetype");
  }
  /* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,400&display=swap'); */

  
  /* SELECTION */
  ::-moz-selection {
    background: #91BED4;
    color: white;
    fill: white;
  }
  ::selection {
    background: #91BED4;
    color: white;
    fill: white;
  }

  /* SCROLLBAR */
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 100vh;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
}

@layer components {
  .page-container {
    @apply px-6 xl:max-w-7xl;
  }
}

/* .router-link-active {
  color: ;
} */

.router-link-exact-active {
  color: #91BED4;
  background-color: white;
}

.progressbar {
  position:absolute;
  top: 56px;
  @media (min-width: 1024px) {
  top: 76px;
  }
}



.test {
  color: #272942;
  color: #565773;
  color: #CCD0DE;
  color: #FF2612;
}